body{
    font-family: 'Open Sans', sans-serif;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
    border-spacing: 10px;

}
.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95vh;
    
}
.box {
    width: 150px;
    height: 150px ;
    margin: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.scv{
    width: 300px;
    height:130px ;
    margin: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.box:hover{
    width: 170px;
    height: 170px;
    transition: 0.3s;
    margin:30px;

}
.scv:hover{
    width: 320px;
    height:150px;
    transition: 0.3s;
    margin:30px;

}
.bg{
    background-color: #f5f5f5;
}

.form {
    width: 20%;
    height: 45%;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
label {
    margin-top: 10%;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input[type="text"],
input[type="password"] {
    margin-top: 3%;
	width: 80%;
    padding: 10px;
    padding-left:10%;
    padding-right: 10%;
	margin-bottom: 10px;
	border-radius: 3px;
	border: none;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.test{
    color: black;
}
.back-button {
    background-color: #f5f5f5;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: #000;
    transition: background-c
    olor 1s ease;
    align-items: center;
}

.back-button:hover {
    background-color: #ddd; /* Change to a slightly lighter shade on hover */
}




